In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tweets.csv')

In [3]:
df.head()

,00,000,00pm,01,02,02pm,03,030,039,04,...,ûïmake,ûïrichmond,ûïstretcher,ûïthe,ûïwe,ûïwhen,ûïyou,ûò,ûó,ûówe
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10876 entries, 0 to 10875
Columns: 8362 entries, 00 to ûówe
dtypes: int64(8362)
memory usage: 693.9 MB

In [4]:
s = df.sum()

In [5]:
s.head()

00      51
000      6
00pm     2
01      36
02       9
dtype: int64

In [26]:
s = s.to_frame('count')

In [33]:
s = s.reset_index(level=0)

In [38]:
countif = s.query('count < 10')['index'].count()
countif

6289

In [39]:
countif = s.query('count < 5')['index'].count()
countif

4613

In [40]:
print(s)

       index  count
0         00     51
1        000      6
2       00pm      2
3         01     36
4         02      9
...      ...    ...
8357  ûïwhen     18
8358   ûïyou      3
8359      ûò     69
8360      ûó     45
8361    ûówe      2

[8362 rows x 2 columns]

In [41]:
df[s.sort_values(ascending=False).index[:]]

TypeError: sort_values() missing 1 required positional argument: 'by'

In [43]:
top_words = s.sort_values(ascending=False, by='count')
print(top_words.head(40))

      index  count
1642     co   6807
3664   http   6161
7346    the   4616
7470     to   2837
3777     in   2808
5199     of   2610
553     and   2023
3943     is   1392
8292    you   1284
2998    for   1244
5247     on   1237
3960     it   1141
4957     my    976
7343   that    852
8138   with    797
1284     by    777
723      at    748
7389   this    704
3665  https    618
3081   from    614
646     are    600
907      be    596
7984    was    553
8340     û_    514
3460   have    513
546     amp    510
4363   like    493
690      as    485
7759     up    471
4082   just    459
4645     me    445
8011     we    442
1274    but    436
6812     so    432
5115    not    431
8297   your    429
5319    out    412
5086     no    401
495     all    380
8103   will    372

In [44]:
bottom_words = s.sort_values(ascending = True, by='count')
print(bottom_words.head(40))

                index  count
4180          kolkata      2
4062          journey      2
4068            juice      2
4069           julian      2
4071      juliedicaro      2
4074           jumped      2
4075           jumper      2
4079           jurors      2
4080             jury      2
4085       justifying      2
4088       jw3hn9ewft      2
4089     k_matako_bot      2
4091              kai      2
4058           joseph      2
4095            karma      2
4098            kasab      2
4099          kashmir      2
4100        katherine      2
4102         katunews      2
4109            kelly      2
4110       kellyannwx      2
4111          kendall      2
4114          keratin      2
4115           kermit      2
4119             khan      2
4120               ki      2
4125           kiddie      2
4096        karnythia      2
4057             jose      2
4055        jonvoyage      2
4054      jones94kyle      2
3987             jake      2
3990  jamaicaobserver      2
3991     jamaicaplain      2
3993    jamesmelville      2
3994    jamessnyder22      2
3995            jammu      2
3996             jams      2
4000           japton      2
4002              jar      2

In [ ]:
s.head()

In [ ]:
s = s.to_frame(name = 'count')

In [ ]:
print("Words with fewer than 10 counts: ",
      sum(s.count))

In [ ]:
import pandas as pd
  
# Data

my_df = pd.DataFrame(s)
  
# Printing the DataFrame
print(my_df.to_string())
  
# Printing the number of views greater
# than 30
print("View greater than 30: ",
  
    sum((my_df.count) > 30))

In [ ]:
import numpy as np

In [ ]:
df.apply(np.sum, axis=1, result_type="expand")

In [ ]:
s.set_index('tweet', 'count')

In [47]:
from sklearn.metrics.pairwise import cosine_similarity

In [48]:
cos = pd.DataFrame(cosine_similarity(df, dense_output=True))

In [49]:
cos.head()

,0,1,2,3,4,5,6,7,8,9,...,10866,10867,10868,10869,10870,10871,10872,10873,10874,10875
0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.111803,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.09759,0.000000,0.0,0.0
1,0.0,1.000000,0.092450,0.208013,0.000000,0.154508,0.0,0.069338,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.253185,0.080064,0.00000,0.076923,0.0,0.0
2,0.0,0.092450,1.000000,0.083333,0.000000,0.000000,0.0,0.000000,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.0
3,0.0,0.208013,0.083333,1.000000,0.223607,0.139272,0.0,0.000000,0.06455,0.0,...,0.0,0.0,0.0,0.0,0.136931,0.000000,0.00000,0.069338,0.0,0.0
4,0.0,0.000000,0.000000,0.223607,1.000000,0.000000,0.0,0.000000,0.11547,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.0

In [55]:
import numpy as np
import re,os
from collections import defaultdict
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
t=[]
for j,k in enumerate(cos.values):
    for n in range(len(k)):
        t.append([j,n,k[n]])

TypeError: only integer scalar arrays can be converted to a scalar index

In [58]:
qq=[]
for i in range(len(t)):
    if t[i][0]==t[i][1]:
        qq.append([t[i][0],t[i][1],0])
    else:
        qq.append(t[i])
qq[:5]

[[0, 0, 0], [0, 1, 0.0], [0, 2, 0.0], [0, 3, 0.0], [0, 4, 0.0]]

In [80]:
df_sim = pd.Series((i[0] for i in qq))

MemoryError:

In [77]:
 newlist = [x for x in range(10) if x = 1]

[[0, 0, 0], [0, 1, 0.0]]

In [69]:
df_sim = pd.DataFrame(qq, columns = ["row_number", "index", "similarity"])

MemoryError: Unable to allocate 2.64 GiB for an array with shape (118287376, 3) and data type object

In [62]:
from collections import defaultdict
u=defaultdict(list)

# Part 01:

for i in range(len(qq)):
    u[qq[i][0]].append(qq[i][2])
    
updated_df=pd.DataFrame(u)

# updated_df.max(axis=1)
# max(updated_df[0])
# np.argmax(updated_df[3])
# updated_df[3]

TypeError: cannot use a string pattern on a bytes-like object

In [ ]:
# Part 02:

position_maxVal=[]
for i in range(len(updated_df)):
    position_maxVal.append(np.argmax(updated_df[i]))

sent_comp=[]


for j in position_maxVal: # list of highest similarity index positions
# this creates in order our tweets w/ highest similiarity by row    
            sent_comp.append(parse_tweets[j])
sent_comp

# tweets based on highest similarity value per row as DF
similar_tweets_=pd.DataFrame(sent_comp,columns=['Similar Tweet'])

# similiarity values rounded 4 decimal places finding max value per row
similarity_value_=pd.DataFrame(round(updated_df.max(axis=1),4),
                               columns=['Similarity Value'])

In [ ]:
# tweets w/o html in them
p_twt=pd.DataFrame(parse_tweets,columns=['Parsed Tweets'])

# put everything together
cos_sim_df=pd.concat([p_twt,similar_tweets_,similarity_value_],axis=1)


cos_sim_df.head(8)

In [ ]:
#sklearn.metrics.pairwise_distances(X, Y=None, metric='euclidean', *, n_jobs=None, force_all_finite=True, **kwds)

In [81]:
df_vote = pd.read_csv("house_votes_84_data_complete.csv")

In [82]:
df_vote.head()

,column_a,colum0_b,colum0_c,colum0_d,colum0_e,colum0_f,colum0_g,colum0_h,colum0_i,colum0_j,colum0_k,colum0_l,colum0_m,colum0_0,colum0_o,colum0_p,colum0_q
0,republican,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,NaN,1.0,1.0,1.0,0.0,1.0
1,republican,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,NaN
2,democrat,NaN,1.0,1.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
3,democrat,0.0,1.0,1.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,democrat,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN,1.0,1.0,1.0,1.0

In [89]:
from sklearn.metrics.pairwise import pairwise_distances

In [90]:
X = df_vote.drop("column_a", axis=1)

In [91]:
y = df_vote["column_a"]

In [93]:
pairwise_distances(X, y, metric='euclidean')

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').